@import url("https://fonts.googleapis.com/css?family=Inter:400,500|Ubuntu:400,500|Open+Sans:400,700");

html {
    scroll-behavior: smooth;
}

.homepage-content {
    font-size: 14px;
}

.homepage-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #515350;
}

.homepage-content h1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #1A1C1A;
}

.homepage-content h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1A1C1A;
    margin-bottom: 32px;
}

#homepage-home {
    padding: 0px 0px 32px 0px;
    padding-left: calc((100% - 1280px)/2);
    padding-right: calc((100% - 1280px)/2);
    min-height: 400px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.home-container {
    margin-top: 21px;
    display: inline-block;
}

.timeseriesrefinery {
    padding-left: 48px;
}

.homepage-details {
    width: 670px;
}

.homepage-details p {
    text-align: left;
    margin-bottom: 0px !important;
} 

.homepage-details u {
    text-decoration-color: #35845F;
}

.homepage-details u:hover {
    color: #35845F !important;
}

.homepage-details ul {
    padding-inline-start: 12px;
}

.home-image {
    height: 400px;
    position: absolute;
}

.home-plot {
    height: 100px;
    position: relative;
}

#links {
    position: absolute;
    margin-top: 21px;
    display: inline-flex;
}

a.homepage-button {
    display: inline-block;
    padding: 0.65rem 0.75rem;
    margin: 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 56px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

a.homepage-button:hover {
    text-decoration: none;
}

a.apibutton {
    width: 154px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    color: #344054 !important;
}
  
a.apibutton:hover {
    background-color: #F0F0F0 !important;
    border: 1px solid #D0D5DD;
}

.apibutton img {
    height: 24px;
    margin: 0px 10px;
}

a.greenbutton {
    width: 180px;
    background: #35845F;
    border: 1px solid #35845F;
    color: white !important;
}
  
a.greenbutton:hover {
    background-color: #275D44 !important;
    border: 1px solid #275D44;
}
  
a.redbutton {
    width: 180px;
    background: #ab2d25;
    border: 1px solid #ab2d25;
    color: white !important;
}
    
a.redbutton:hover {
    background-color: #3b0605 !important;
    border: 1px solid #3b0605;
}

#homepage-getstarted {
    background-color: #F8F8F8;
    padding-top:21px;
}

p.greentext {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #35845F;
    margin-bottom: 8px;
}

 /* grid stuff */

.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }

.cards-grid-container {
    display: grid;
    grid-template-areas: 'card1 card2 card3 card4';
    gap: 10px;
    padding:20px;
}

.homepage-card svg {
    display: block;
}

.homepage-card {
    max-width: 400px;
    min-width: 200px;
    background: #ffffff;
    border: 1px solid #C5C7C3;
    padding: 21px;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  
.homepage-card-body {
    padding: 0px !important;
}
  
.homepage-card-img-top {
    width: 56px;
    height: 56px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pythonian-logo {
    width: 150px;
}

#homepage-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 1400px) {
    .cards-grid-container {
        display: grid;
        grid-template-areas: 'card1 card2 card3' 'card4 empty empty';
        gap: 20px;
        padding:20px;
    }
}

@media (max-width: 1330px) {
    #links {
        display: inline;
    }
}

@media (max-width: 900px) {
    .cards-grid-container {
        display: grid;
        grid-template-areas: 'card1 card2' 'card3 card4';
        gap: 20px;
        padding:20px;
    }
    .home-image {
        display: none;
    }
    .home-plot {
        display: none;
    }

    #links {
        display: none;
    }

    #homepage-home {
        min-height: 0px;
    }
}

@media (max-width: 720px) {
    .cards-grid-container {
        display: grid;
        grid-template-areas: 'card1' 'card2' 'card3' 'card4';
        gap: 20px;
        padding:20px;
    }
    #home {
        padding: 0px 0px 40px 0px;
    }
    #getstarted {
        padding: 21px 0px;
    }
    .details {
        max-width: 100%;
    }
}
