select {
    font-family: "Ubuntu"
}

.horizon-widget {
    display: grid;
    grid-template-columns: 55px 295px 145px;
    grid-column-gap: 50px;
    grid-template-areas: "time-zone time-interval inferred-freq";
    align-items: center;
    justify-content: center;
}

.time-zone {
    grid-area: time-zone;
}

.time-interval {
    display: grid;
    grid-template-columns: 26px 77px 79px 77px 26px;
    grid-column-gap: 2px;
    grid-template-areas: "arrow-left bound-left time-delta bound-right arrow-right";
    align-items: center;
    justify-content: center;
    grid-area: time-interval;
}

.arrow-left {
    grid-area: arrow-left;
}

.bound-left {
    grid-area: bound-left;
}

.time-delta {
    grid-area: time-delta;
}

.bound-right {
    grid-area: bound-right;
}

.arrow-right {
    grid-area: arrow-right;
}

.inferred-freq {
    grid-area: inferred-freq;
}

