.menu-refinery {
    --col-link: black;
    --col-link-back: #e0e0e0;
    --col-section: white;
    --col-section-back: black;
    --col-selected: #a9a9a9;
}

.menu-refinery {
    width: fit-content;
}

.menu-refinery ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.switch-display {
    width: 100%;
    height: 32px;
    background-color: white;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

.switch-display svg {
    width: 30px;
    height: 30px;
}

.menu-refinery ul svg {
    width: 40px;
    height: 40px;
}

.menu-refinery a {
    color: var(--col-link);
}

.menu-refinery a:visited {
    color: var(--col-link);
}

.menu-with-text ul ul  {
    background-color: var(--col-link-back);
}

.section {
    color: var(--col-section)
    color: var(--col-section);
    background-color: var(--col-section-back);
}

.section-svg {
    color:var(--col-section);
    background-color:var(--col-section-back);
}

.section>div>svg {
    padding: 7px;
}

.link svg {
    padding: 7px;
    background-color: var(--col-link-back);
}

.menu-refinery .link svg:hover {
    padding:2px;
}

.menu-with-text .link:hover .label {
    text-decoration: underline;
}

.menu-with-text .link:hover svg {
    padding:2px;
}

.menu-refinery .selected {
    background-color: var(--col-selected)
}

.menu-refinery .selected svg {
    background-color: var(--col-selected)
}

.full-link {
    width: 100%;
    display: block;
}

.menu-refinery .label {
    display: inline;
    font-size: 13px;
    padding:10px;
}

.menu-refinery .link .label{
    display: inline;
    font-size: 13px;
    padding:10px;
    color:black;
}

/* stand alone stuffs */

.container-menu {
    grid-area: menu;
}

.container-with-icon {
    width: 40px;
}

.container-with-text {
    width: 154px;
}

.menu-refinery {
    align-self: start;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.grid-container {
  display: grid;
  grid-template-areas:'menu main';
  grid-template-columns: min-content auto ;
}

.grid-container div {
  overflow: hidden;
}

.main-content {
    grid-area: main;
    z-index:0;
}

.img-logo {
    width: 40px;
    height: 35px;
}

.pythonian-logo {
    width: 154px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-height: 850px) {
    .img-logo {
        display: none;
    }
}

@media (max-height: 910px) {
    .pythonian-logo {
        display: none;
    }
}