.menu-refinery {
    width: fit-content;
    padding-left: .5em;
}

.menu-refinery ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.menu-refinery .section
    {padding-top: 10px;}

.menu-refinery .link {
    padding-top: 10px;
    padding-left: 10px;
}

.menu-refinery svg {
    width: 40px;
    height: 40px;
}

.menu-refinery a {
    color: black;
}

.menu-refinery a:visited {
    color: black;
}

.section>div>svg {
    border-radius: 10px;
    padding: 7px;
    color: white;
    background-color: black;
}

.link svg {
    border-radius: 10px;
    padding: 7px;
    background-color: #e0e0e0;
}

.link svg:hover {
    transform: scale(1.3);
}

.link a {
    text-decoration: none;
}

.menu-refinery .selected::before {
    content: ".";
    font-size: 30px;
    margin-right: 3px;
}

.label {
    display: inline;
    font-size: 15px;
    padding:10px;
    padding-top:5px;
    padding-right:0px;
    position: absolute;
    transform: translateX(10%);
    background-color: white;
}

.link a:hover::after {
    content: attr(tag);
    font-size: 15px;
    padding:10px;
    padding-top:5px;
    padding-left:0px;
    position: absolute;
    transform: translateX(10px);
    background-color: white;
}

.section-svg:hover::after {
    content:  attr(tag);
    font-size: 15px;
    padding:10px;
    padding-top:5px;
    padding-right:0px;
    position: absolute;
    text-decoration: underline;
    transform: translateX(10%);
    background-color: white;
}

/* grid & layout */

.grid-container-icon {
  display: grid;
  grid-template-areas:'menu-icon main-icon';
  grid-template-columns: 80px auto ;
}

.grid-container-text {
  display: grid;
  grid-template-areas:'menu-text main-text';
  grid-template-columns: 180px auto ;
}

.main-icon {
    grid-area: main-icon;
    z-index:0;
}

.main-text {
    grid-area: main-text;
    z-index:0;
}

.menu-with-icon {
    grid-area: menu-icon;
    align-self: start;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.menu-with-text {
    grid-area: menu-text;
    align-self: start;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
