.menu-refinery {
    --col-link: black;
    --col-link-back: #e0e0e0;
    --col-section: white;
    --col-section-back: black;
}

.menu-refinery {
    width: fit-content;
}

.menu-refinery ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.switch-display {
    width: 100%;
    height: 32px;
    background-color: white;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

.switch-display svg {
    width: 30px;
    height: 30px;
}

.menu-refinery ul svg {
    width: 40px;
    height: 40px;
}

.menu-refinery a {
    color: var(--col-link);
}

.menu-refinery a:visited {
    color: var(--col-link);
}

.menu-with-text ul ul  {
    background-color: var(--col-link-back);
}

.section-svg {
    color:var(--col-section);
    background-color:var(--col-section-back);
}

.section>div>svg {
    padding: 7px;
    color: var(--col-section);
    background-color: var(--col-section-back);
}

.link svg {
    padding: 7px;
    background-color: var(--col-link-back);
}

.menu-refinery .link svg:hover {
    padding:2px;
}

.menu-with-text .link:hover .label {
    text-decoration: underline;
}

.menu-with-text .link:hover svg {
    padding:2px;
}

.menu-refinery .selected::before {
    content: ".";
    font-size: 30px;
    margin-right: 3px;
}

.full-link {
    width: 100%;
    display: block;
}

.selected .full-link {
    display: inline;
}

.label {
    display: inline;
    font-size: 13px;
    padding:10px;
}

/* grid & layout */

.grid-container-icon {
  display: grid;
  grid-template-areas:'menu main';
  grid-template-columns: 50px auto ;
}

.grid-container-text {
  display: grid;
  grid-template-areas:'menu main';
  grid-template-columns: 160px auto ;
}

.main-content {
    grid-area: main;
    z-index:0;
}

.menu-with-icon {
    grid-area: menu;
    align-self: start;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.menu-with-text {
    grid-area: menu;
    border-radius: 5px;
    align-self: start;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
