.title-like {
    font-size: 1.5em;
}

.page-title {
    font-size: 1.5em;
    color: rgb(92, 91, 91);
    justify-content: left;
    font-weight: 400;
}

div.main-content {
    margin-left: 0.5em;
 }

.nav-link {
    cursor: pointer;
}

.invisible {
    color: rgba(0, 0, 0, 0)
}

.bi-clipboard {
    cursor: pointer;
}

.clickable:hover {
    cursor: grab
}

.action-container {
    display:flex;
}

.action-left {
    display: flex;
    flex: initial;
    justify-content: left;
    align-items: center; /* vertical */
}

.action-left > * {
    margin-left: .5em;
}

.action-center {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center; /* vertical */
}

.action-center > * {
    margin-left: .5em;
}

.action-right {
    display: flex;
    flex: initial;
    justify-content: right;
    align-items: center; /* vertical */
}

.action-right > * {
    margin-left: .5em;
}

.horizon-trinity.read .widget-date {
    width: 10ch;
    text-align: center;
    vertical-align:middle;
    cursor: pointer;
}

.widget-date.from-zoom {
    color: grey;
    font-style: italic;
}

.horizon-trinity {
    display: flex;
}

.horizon-trinity.write .widget-date {
}

.horizon-trinity .edit-buttons button {
    width: 3ch;
    background-color: white;
    font-weight: bold;
}

.edit-buttons .yes {
    color: green;
}

.edit-buttons .no {
    color: red;
}

.widget-loading-status
    {font-size: 30px;}

.widget-loading-status .loading
    {color: orange;}

.widget-loading-status .success
    {color: green;}

.widget-loading-status .failure
    {color: red;}

.widget-idates {
    padding: 10px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.widget-idates div {
    width: 17ch;
}

.widget-idates .idate-history {
    user-select: none;
    text-align: center;
}

.widget-idates .idate-adjacent {
    user-select: none;
    cursor: pointer;
    color:  #a6a6a6;
    text-align: center;

}

.widget-idates .idate-adjacent:hover {
    color:  #007bff;
}


form.form-inline {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background: lightsteelblue;
}

.form-inline .item {
    flex: 1 0 25%;
    box-sizing: border-box;
    padding: .5em;
}

.form-inline label {
    display: block;
}

.form-inline .btn {
    margin: .5em;
}

label.option {
    display: inline-block;
    padding: .25em;
}

.tsview-form-input {
    padding: 1rem;
    line-height: 1.2rem;
    max-width: 50em;
}

.square {
    list-style: square inside;
    padding-left: 1em;
}

.placeholder-text-hover {
    height: 24px;
}

/* cache ui */
.btn {
    padding: 3px;
    margin: 2px;
}

.policy_list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.policy_list :not(thead) tr {
  border: 1px dotted black;
}

.gridded_policy:not(:last-child) {
    border-bottom: none;
}

.gridded_policy:nth-child(2n) {
    background-color: lightgrey;
}

.gridded_policy:hover {
    background-color: lightblue;
}


.link_policy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 5fr;
    align-items: top;
}

.link_policy ul {
    list-style: none;
    padding-left: 1rem;
}

.link_policy button {
    margin-right: 1rem;
}

.field_error {
    background: tomato;
}

.badges-spacing > * {
    margin-right: .2rem;
}

/* quickview  */

.quickview .main-content {
    margin-left: 20px;
}

.quickview .data-selector .btn {
    width: 14ch;
}


.quickview .list-series {
    z-index: 10;
    position: absolute;
}

.quickview .selected {
    background-color: #FFECC3;
}

.quickview .list-group-item {
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 1000px;
}

.quickview #plotly_div {
}

.quickview .btn-primary {
    color: white !important;
}

.quickview .permalink{
    margin-right: 20px;
    margin-top: 10px;
}

.quickview .data-table {
    font-size: 80%;
    margin-left: 25px;
}

.quickview .data-table tr:hover{
    background-color: #d9d9d9 ;

}

.quickview .data-table .fading {
    animation: collapse 0.5s;
    animation-timing-function: ease-in;
}

.quickview .data-selector .list-group{
  animation: fadein 0.15s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes collapse {
    0% {  height: 3ch; }
    100%   {  height: 0; }
}

.quickview .selector {
  animation: fadein 0.15s;
}

.quickview .list-series {
  animation: fadein 0.15s;
}

.quickview .data-table tr{
}

.quickview .data-table tr.axis{
    background-color: rgba(23, 162, 184, 0.2) ;
    transition: background-color 0.4s ease-in-out;
}

.quickview .data-table tr.selected{
    background-color: rgba(0, 123, 255, 0.2);
    transition: background-color 0.4s ease-in-out;
}

.quickview .button-table-series {
    width: 75px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 80%;
    padding: 0px;
}

.quickview #plot_div {
    position: sticky;
    top: -25px;
}

.quickview .show-legend-container {
    height: 24px;
    margin-right: 20px;
    display: inline-block;
    float: right;

}


.quickview .button-legend {
    float: right;
}

.quickview .list-group-item.remove {
    display: none;
}

.quickview .data-status
    { padding-left: 3px;
      padding-right: 3px;
    }

.quickview .data-status.loading
    {color: orange;}

.quickview .data-status.success
    {color: green;}

.quickview .data-status.failure
    {color: red;}

.js-plotly-plot div {
    overflow: visible !important;
}

/* Settings */

.settings {
    margin-left: 20px;
    margin-right: 20px;

}

.sub-settings {
    margin-top: 40px;
}

.settings h2 {
    font-size: 1.2em;
    color: rgb(92, 91, 91);
    justify-content: left;
    font-weight: 400;
}

.settings .settings-date input {
    width: 20vw;
}

.settings table input {
    border-style: none;
    background-color:  #f8f8f8;
}

.settings .users input, .settings .users .settings-label {
    width: 30vw;
}

/* Tsinfo */

.tsinfo {
    margin-right: 20px;
}

.tsinfo .under-the-header {
    display: grid;
    grid-template: "plot-and-stuffs stat-table";
    grid-template-columns: auto min-content;
}

.tsinfo .plot-and-stuffs {
    grid-area: plot-and-stuffs;
    margin-left: 20px;
}

.tsinfo .stat-table-container {
    width: min-content;
    grid-area: stat-table;
    font-size: 90%;
}

.tsinfo .stat-table {
    float: right;
    min-width: 15ch;
}

.tsinfo .stat-table th {
    text-align: center;
}

.tsinfo .stat-table td {
    white-space:nowrap;
}

.tsinfo .stat-table tr:nth-child(even){
    background-color: #e0e0e0;
}

.tsinfo .stat-table td:nth-child(1){
    padding-left: 3px;
}

.tsinfo.stat-table td:nth-child(3){
    padding-right: 3px;
    text-align: right;
}

/* folders */

/*
.menu-folders .folder.open {
}

.menu-folders .targeted {
    background: lightgrey;
}


.menu-folders .sub-folders-list {
    padding-left: 10px;
    user-select: none;

}


.menu-folders .folder-opener {
    cursor: pointer;
}

.menu-folders .series-name {
    margin: 0px;
    cursor: grab;
    display: inline;
}

.menu-folders .folder-name {
    margin: 0px;
}

.menu-folders .folder-name.not-open {
    cursor: pointer;
}


.menu-folders .folder-name:hover {
    box-shadow: 2px 2px 5px #A9A9A9	;
}


.menu-folders ul.sub-folders-list {
    list-style-type: none;
}


.menu-folders ul.series-list {
    list-style-type: none;
}


.menu-folders .series-list.cut {
    background-color: lightpink;
}
.menu-folders .folder-name{
    display: inline;
    cursor:pointer;
}

.menu-folders .button-switch {
    cursor:pointer;
    background-color: white;
    width: 3ch;
    height: 3ch;
    padding: 0;
    border: 0;
}





.menu-folders .focused {
    background-color: lightyellow;
}

.menu-folders .highlight {
    background-color: #DAB1DA;
}

.menu-folders .filter-name {
    margin-left: 1em;
}

.menu-folders .button-show-root {
    margin-left: 1em;
}

*/
.menu-folders body {
  font-size: 1rem;
  background: #f5f5f5;
}

.menu-folders  {
  position: relative;
  background: #F0F0F0;
  margin-top: 0;
  padding: 0;
  padding-right: 2em;
  font-family: 'Roboto Mono', monospace;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  width: fit-content;
}

.menu-folders span {
    font-size: 13px;
    font-style: italic;
    letter-spacing: .4px;
    color: #a8a8a8;
  }

.fa-folder-open, .fa-folder {
    color: #007bff;
  }

.menu-folders  .fa-html5 {
    color: #f21f10;
  }

.menu-folders .user-msg {
    font-style: italic;
    margin-left: 0.5em;
}

.menu-folders .series-restriction {
    margin-left: 1.69em;
}
.menu-folders .series-restriction p {
    display: inline
}

.menu-folders .series-restriction input {
    width: 4em;
}

.menu-folders .node {
    min-width: 35em;
}

.menu-folders .node.focused {
    border-style: solid;
    margin: -1px;
    z-index:10;
}

/* reactive menu */
/*  The overlaid element (absolute) must be
    inside the element it is attached to in
    the html code. Hence the 100% in the "left"
    parameter will use the width of the parent
*/

:root {
  --folder-button-border: 2px;
}

.menu-folders .folder-action {
    position: relative;
    border-width: var(--folder-button-border)
    width: fit-content;
    background-color:lightgrey;
    display: inline;
    cursor: pointer;

}

.menu-folders .action-box {
    position:absolute;
    top: calc(-1 * var(--folder-button-border));
    left: calc(100% + var(--folder-button-border));
    background-color:lightgrey;
    border: none;
    padding: 0px;
    margin:0;
    z-index:1000;
}

.menu-folders .action-box li {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    }

.menu-folders .action-box li:hover {
    list-style-type: none;
    background: #A9A9A9;
}



.menu-folders .folder-name {
    box-shadow: 1px 1px 5px #A9A9A9	;
}


.menu-folders .folder-row {
    justify-content: space-between;
    display: flex;
}

.menu-folders .folder-row-left {
    display: flex;
    cursor: pointer;
}

.menu-folders .folder-row button {
    cursor: pointer;
}

.menu-folders .fill-row {
    max-width: 100%;
}

.menu-folders .folder-row i {
    min-width:1.3em;
    font-size: 130%;
    z-index: 10;
}

.menu-folders .folder-row p {
    padding-right: 0.3em;
}

.menu-folders .folder-row a {
    padding-left: 0.3em;
    float: right;
}

.menu-folders .folder-name {
    margin: 0px;
    padding-left: 0.25em;
    margin-right: 0.25em;
    background-color: white;
    font-size: 120%;
}

.menu-folders .filter-name {
    padding-left: 0;
    padding-top: 0.1em;
    margin-left: 1.69em;
}

.menu-folders .filter-name p {
    display: inline;
}

.menu-folders .series-list {
    padding-left: 0;
    margin-left: 1.69em;
    display:table;
    background-color: white;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    box-shadow: 2px 2px 5px #A9A9A9	;

}

.menu-folders .series-list.selected {
    background-color: lightgreen;
    padding-bottom: 0;
    margin-bottom: 0.3em;

}

.menu-folders .series-list.cut {
    background-color: mistyrose;
    border-style: dashed;
}

.menu-folders .targeted {
    border-style: dashed;
}


.menu-folders .series-item {
       display:table-row;
}

.menu-folders .series-item > * {
       display:table-cell;
}

.menu-folders  a:visited {
    color: blue;
}

.menu-folders .assign-series {
    height: 2em;
}

.menu-folders .series-name {
    margin: 0;
    padding-left: 0.3em;
    cursor: grab;
}

.menu-folders .series-item a {
    margin: 0;
    padding-left: 0.3em;
}

.menu-folders .series-item button {
    background-color: white;
}

.sub-folders-list, .folders-list {
    padding-left: 1.69em;
    list-style-type: none;
}

.menu-folders .children.highlight {
    background-color: #E0E0E0;
}

/*  This does the carets for the tree */
.folder-and-series {
      position: relative;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 1em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        position: absolute;
        top: 1em;
        left: 0;
        width: 2em;
        height: 1px;
        margin: auto;
        content: '';
        background-color: #666;
      }

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: '';
        background-color: #666;
      }

      &:last-child:after {
        height: 1em;
      }
    }

