
form.form-inline {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background: lightsteelblue;
}

.form-inline .item {
    flex: 1 0 25%;
    box-sizing: border-box;
    padding: .5em;
}

.form-inline label {
    display: block;
}

.form-inline .btn {
    margin: .5em;
}

label.option {
    display: inline-block;
    padding: .25em;
}
