.title-like {
    font-size: 1.5em;
}

.page-title {
    font-size: 1.5em;
    color: rgb(92, 91, 91);
    justify-content: left;
    font-weight: 400;
}

div.main-content {
    margin-left: 0.5em;
 }

.nav-link {
    cursor: pointer;
}

.invisible {
    color: rgba(0, 0, 0, 0)
}

.bi-clipboard {
    cursor: pointer;
}

.clickable:hover {
    cursor: grab
}

.action-container {
    display:flex;
}

.action-left {
    display: flex;
    flex: initial;
    justify-content: left;
    align-items: center; /* vertical */
}

.action-left > * {
    margin-left: .5em;
}

.action-center {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center; /* vertical */
}

.action-center > * {
    margin-left: .5em;
}

.action-right {
    display: flex;
    flex: initial;
    justify-content: right;
    align-items: center; /* vertical */
}

.action-right > * {
    margin-left: .5em;
}

.horizon-trinity.read .widget-date {
    width: 10ch;
    text-align: center;
    vertical-align:middle;
    cursor: pointer;
}

.widget-date.from-zoom {
    color: grey;
    font-style: italic;
}

.horizon-trinity {
    display: flex;
}

.horizon-trinity.write .widget-date {
}

.horizon-trinity .edit-buttons button {
    width: 3ch;
    background-color: white;
    font-weight: bold;
}

.edit-buttons .yes {
    color: green;
}

.edit-buttons .no {
    color: red;
}

.widget-loading-status
    {font-size: 30px;}

.widget-loading-status .loading
    {color: orange;}

.widget-loading-status .success
    {color: green;}

.widget-loading-status .failure
    {color: red;}

.widget-idates {
    padding: 10px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.widget-idates div {
    width: 17ch;
}

.widget-idates .idate-history {
    user-select: none;
    text-align: center;
}

.widget-idates .idate-adjacent {
    user-select: none;
    cursor: pointer;
    color:  #a6a6a6;
    text-align: center;

}

.widget-idates .idate-adjacent:hover {
    color:  #007bff;
}


form.form-inline {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background: lightsteelblue;
}

.form-inline .item {
    flex: 1 0 25%;
    box-sizing: border-box;
    padding: .5em;
}

.form-inline label {
    display: block;
}

.form-inline .btn {
    margin: .5em;
}

label.option {
    display: inline-block;
    padding: .25em;
}

.tsview-form-input {
    padding: 1rem;
    line-height: 1.2rem;
    max-width: 50em;
}

.square {
    list-style: square inside;
    padding-left: 1em;
}

.placeholder-text-hover {
    height: 24px;
}

/* cache ui */
.btn {
    padding: 3px;
    margin: 2px;
}

.policy_list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.policy_list :not(thead) tr {
  border: 1px dotted black;
}

.gridded_policy:not(:last-child) {
    border-bottom: none;
}

.gridded_policy:nth-child(2n) {
    background-color: lightgrey;
}

.gridded_policy:hover {
    background-color: lightblue;
}


.link_policy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 5fr;
    align-items: top;
}

.link_policy ul {
    list-style: none;
    padding-left: 1rem;
}

.link_policy button {
    margin-right: 1rem;
}

.field_error {
    background: tomato;
}

.badges-spacing > * {
    margin-right: .2rem;
}

/* quickview  */

.quickview .main-content {
    margin-left: 20px;
}

.quickview .data-selector .btn {
    width: 14ch;
}


.quickview .list-series {
    z-index: 10;
    position: absolute;
}

.quickview .selected {
    background-color: #FFECC3;
}

.quickview .list-group-item {
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 1000px;
}

.quickview #plotly_div {
}

.quickview .btn-primary {
    color: white !important;
}

.quickview .permalink{
    margin-right: 20px;
    margin-top: 10px;
}

.quickview .data-table {
    font-size: 80%;
    margin-left: 25px;
}

.quickview .data-table tr:hover{
    background-color: #d9d9d9 ;

}

.quickview .data-table .fading {
    animation: collapse 0.5s;
    animation-timing-function: ease-in;
}

.quickview .data-selector .list-group{
  animation: fadein 0.15s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes collapse {
    0% {  height: 3ch; }
    100%   {  height: 0; }
}

.quickview .selector {
  animation: fadein 0.15s;
}

.quickview .list-series {
  animation: fadein 0.15s;
}

.quickview .data-table tr{
}

.quickview .data-table tr.axis{
    background-color: rgba(23, 162, 184, 0.2) ;
    transition: background-color 0.4s ease-in-out;
}

.quickview .data-table tr.selected{
    background-color: rgba(0, 123, 255, 0.2);
    transition: background-color 0.4s ease-in-out;
}

.quickview .button-table-series {
    width: 75px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 80%;
    padding: 0px;
}

.quickview #plot_div {
    position: sticky;
    top: -25px;
}

.quickview .show-legend-container {
    height: 24px;
    margin-right: 20px;
    display: inline-block;
    float: right;

}


.quickview .button-legend {
    float: right;
}

.quickview .list-group-item.remove {
    display: none;
}

.quickview .data-status
    { padding-left: 3px;
      padding-right: 3px;
    }

.quickview .data-status.loading
    {color: orange;}

.quickview .data-status.success
    {color: green;}

.quickview .data-status.failure
    {color: red;}

.js-plotly-plot div {
    overflow: visible !important;
}

/* Settings */

.settings {
    margin-left: 20px;
    margin-right: 20px;

}

.sub-settings {
    margin-top: 40px;
}

.settings h2 {
    font-size: 1.2em;
    color: rgb(92, 91, 91);
    justify-content: left;
    font-weight: 400;
}

.settings .settings-date input {
    width: 20vw;
}

.settings table input {
    border-style: none;
    background-color:  #f8f8f8;
}

.settings .users input, .settings .users .settings-label {
    width: 30vw;
}

/* Tsinfo */

.tsinfo {
    margin-right: 20px;
}

.tsinfo .under-the-header {
    display: grid;
    grid-template: "plot-and-stuffs stat-table";
    grid-template-columns: auto min-content;
}

.tsinfo .plot-and-stuffs {
    grid-area: plot-and-stuffs;
    margin-left: 20px;
}

.tsinfo .stat-table-container {
    width: min-content;
    grid-area: stat-table;
    font-size: 90%;
}

.tsinfo .stat-table {
    float: right;
    min-width: 15ch;
}

.tsinfo .stat-table th {
    text-align: center;
}

.tsinfo .stat-table td {
    white-space:nowrap;
}

.tsinfo .stat-table tr:nth-child(even){
    background-color: #e0e0e0;
}

.tsinfo .stat-table td:nth-child(1){
    padding-left: 3px;
}

.tsinfo.stat-table td:nth-child(3){
    padding-right: 3px;
    text-align: right;
}

/* folders */

.menu-folders .folder {

}

.menu-folders .folder.open {
}

.menu-folders .targeted {
    background: lightgrey;
}


.menu-folders .sub-folders-list {
    padding-left: 10px;
    user-select: none;

}

.menu-folders .series-list {
    border-left: solid;
    padding-left: 3px;
    margin-left: 20px;

}

.menu-folders .folder-opener {
    cursor: pointer;
}

.menu-folders .series-name {
    margin: 0px;
    cursor: grab;
    display: inline;
}

.menu-folders .folder-name {
    margin: 0px;
}

.menu-folders .folder-name.not-open {
    cursor: pointer;
}


.menu-folders .folder-name:hover {
    box-shadow: 2px 2px 5px #A9A9A9	;
}


.menu-folders ul.sub-folders-list {
    list-style-type: none;
}


.menu-folders ul.series-list {
    list-style-type: none;
}

.menu-folders .series-list.selected {
    background-color: lightblue;
}

.menu-folders .folder-name{
    display: inline;
    cursor:pointer;
}

.menu-folders .button-switch {
    cursor:pointer;
    background-color: white;
    width: 3ch;
    height: 3ch;
    padding: 0;
    border: 0;
}

.menu-folder .folder-row {
}

.menu-folders .folder-action {
    display: inline;
    width: fit-content;
    background-color:lightgrey;
    cursor: pointer;
    position: relative;
    border: 0;
}

.menu-folders .action-box li {
    list-style-type: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    }

.menu-folders .action-box li:hover {
    list-style-type: none;
    background: #A9A9A9;
}

.menu-folders .action-box {
    background-color:lightgrey;
    border: none;
    padding: 0px;
    margin:0;
    inset: auto;
    position: absolute;
    top: anchor(top);
    left: anchor(right);
}

.menu-folders .action-box:popover-open {
    display: grid;
    grid-template-columns: 1fr;
}
.