/* grid & layout */

/* value & edition table */
.horizon-widget {
    grid-area: horizon-widget;
}

.status-plot {
    grid-area: status-plot;
    min-height: 20px;
}

.tables-edition {
    grid-area: tables;
    display: grid;
    grid-template:
        "header-tables-edition header-tables-edition"
        "data-table save-data-table";
    justify-content: left;
    column-gap: 50px;
}

/* stat table */

.under-the-header {
    display: grid;
    grid-template: "plot-and-stuffs stat-table";
    grid-template-columns: auto min-content;
}

.header-with-horizon {
    grid-area: header
}

.plot-and-stuffs {
    grid-area: plot-and-stuffs;
}

.stat-position {
}

.stat-table-container {
    width: min-content;
    grid-area: stat-table;

}

.stat-table {
    float: right;
    min-width: 15ch;
}

.stat-table th {
    text-align: center;
}

.stat-table td {
    white-space:nowrap;
}
.stat-table tr:nth-child(even){
    background-color: #e0e0e0;
}

.stat-table td:nth-child(1){
    padding-left: 3px;
}

.stat-table td:nth-child(3){
    padding-right: 3px;
    text-align: right;
}

.unlock-ifreq {
    border-style: none;
    background-color: #007bff;
}

/* form for round */

.under-the-plot {
    display: flex;
}

.under-the-plot .permalink {
    margin-right:20px;
}

.form-round{
    display: inline;
}


.form-round button{
    background-color: white;
    width: 3ch;
    height: 3ch;
}

.round-input {
    width: 3ch;
    border-style: none;
    text-align: center;
}

.editor-values-table td {
    text-align: right;
}


.table-style {
    border-collapse: collapse;
    width: 100%;
}

.table-style td, .table-style th {
    border: 1px solid #DDD;
    padding: 5px;
}

.table-style tr:nth-child(even) {
    background-color: #EFF1ED;
}

.table-style tr:hover {
    background-color: #DDD;
}

.table-style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.table-style td.control-col, .table-style th.control-col  {
    background-color: white;
    border: 0;
    width: 30px;
}

.remove-selection {
    cursor: pointer;
    color: red;
}

.correction {
    width: 40px;
}

.data-table {
    grid-area: data-table;
}

.save-data-table {
    grid-area: save-data-table;
}

.header-tables-edition {
    grid-area: header-tables-edition;
    display: flex;
    justify-content: space-between;
    min-height:42px;
}

.linear-correction{
    margin-right: 20px;
}

.for-current-diff {
    display: flex;

}

.save-buttons{
    margin-right: 0;
}

.bluebutton {
    padding: 0.5rem 0.5rem;
    background: #007bff;
    border: 1px solid blue;
    border-radius: 8px;
    color: white;
}

.greenbutton {
    padding: 0.5rem 0.5rem;
    background: green;
    border: 1px solid green;
    border-radius: 8px;
    color: white;
}

.invisible {
    padding: 0.5rem 0.5rem;
    background: white;
    color: white;
}


.row-editing {
    color: purple;
}

.row-nan {
    color: maroon;
}

.row-override {
    color: blue;
}

.row-invalid {
    color: red;
}

.editor-values-table-dates {
    font-size: 0.9em;
    width:auto;
    position: sticky;
    left:0px;
    background-color:white;
    z-index:50;
}

.editor-values-table-series {
    position: sticky;
    top:0px;
    background-color:white;
}

.editor-values-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.row-edit.selected td:nth-child(2) {
    box-shadow: inset 0px 0px 10px;
}
