.series-info {
    margin-bottom: 0px;
}

.editing {
    color: purple;
}

.nan {
    color: maroon;
}

.override {
    color: blue;
}

.invalid {
    color: red;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* grid */

.horizon-widget {
    grid-area: horizon-widget;
}


.under-the-header {
    display: grid;
    grid-template: "plot-and-stuffs stat-table";
    grid-template-columns: auto min-content;
}

.header-with-horizon {
    grid-area: header;
    margin-left: 20px;
    margin-right: 20px;
}

.plot-and-stuffs {
    grid-area: plot-and-stuffs;
    margin-left: 20px;
}


.stat-table-container {
    width: min-content;
    grid-area: stat-table;
    font-size: 90%;
    padding-right: 20px;
}


.tables-edition {
    display: grid;
    grid-template: "data-table current-diff";
    justify-content: left;
    column-gap: 50px;
}


.grid-edit-table {
    grid-area: data-table;
    margin-left: 20px;
}


.save-table {
    grid-area: current-diff;
    min-height:42px;
}


.grid-save-table {
}


/* stat table */


.stat-table {
    float: right;
    min-width: 15ch;
}

.stat-table th {
    text-align: center;
}

.stat-table td {
    white-space:nowrap;
}
.stat-table tr:nth-child(even){
    background-color: #e0e0e0;
}

.stat-table td:nth-child(1){
    padding-left: 3px;
}

.stat-table td:nth-child(3){
    padding-right: 3px;
    text-align: right;
}

.unlock-ifreq {
    border-style: none;
    background-color: #007bff;
}


/* creation form */

.creation-form {
    margin-top: 20px;
    margin-left: 20px;
}

.creation-form td:nth-child(2){
    text-align: right;
}

.creation-form input, .creation-form select {
    height: 2em;
}

.creation-form select {
    text-align: right;
}

.creation-form .valid {
    border: solid 2px green;
}

.creation-form input.valid:focus {
    background-color: #a6eac4;
}

.creation-form .invalid {
    border: solid 2px red;
    background-color: lightcoral;
}

.creation-form input:not(input[type=date]).mandatory{
    background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
    background-size: 1.5em 1.5em;
    background-position: right;
    background-repeat: no-repeat;
}


.creation-form input[type=date].mandatory{
    color: #F00;
}

#creation-multiplier, #creation-value {
    text-align: right;
    width: 4rem;
}

#back-button {
    height: 2em;
}

/* forms and buttons above the edition */

.under-the-plot {
    display: flex;
    margin-left: 20px;
}

.under-the-plot .permalink {
    margin-right:20px;
}

.permadiv {
    text-align: right;
}

.form-round{
    display: inline;
}


.form-round button{
    background-color: white;
    width: 3ch;
    height: 3ch;
}

.round-input {
    width: 3ch;
    border-style: none;
    text-align: center;
}

.remove-selection {
    cursor: pointer;
    color: red;
}

.correction {
    width: 40px;
}

.linear-correction{
    margin-right: 20px;
}

.linear-correction input {
    border: 1px solid lightgrey;
    padding: 0;
    text-align: center;
}


.for-current-diff {
    display: flex;
    margin-top: 5px;
    height: 3ch;
}

.save-buttons{
    margin-right: 0;
}

.save-button{
    height: 3ch;
}

.bluebutton {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #007bff;
    border: 1px solid blue;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.greenbutton {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: green;
    border: 1px solid green;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.yellowbutton {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #ffc107;
    border: 1px solid green;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.custom-button:disabled {
    cursor: auto;
    background-color: #B0B0B0;
    border: 1px solid black;
}

.top-button {
    margin-left: 5px;
}

.wrapper-primary{
    display: flex;
}

.separator-primary {
    width : 100px;
}

/* edition table */

.edit-table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.edit-table td {
    border: 1px solid #DDD;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.edit-table td:nth-child(2){
    text-align: right;
}

.edit-table th {
    border: 1px solid #DDD;
    padding: 5px;
}

.edit-table .non-editable
{   background-color:  #f2f2f2;
}

.edit-table .selected {
    background-color: #cae9f5;
}

.edit-table input {
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: none;
    text-align: right;
    background-color: transparent;
}

.edit-table .selected input {
    background-color: #cae9f5;
}

.edit-table .fill-under input {
    padding-right: 5px;
    width: 137px;

}

.edit-table .editable.plain input {
    padding-right: 5px;
    width: 177px;
}

.fill-button {
   float: right;
}

.edit-table .active {
    box-shadow: inset 0px 0px 7px;
}

.edit-table th {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    text-align: left;
}

.edit-table .fill   {
    justify-content: space-between;
    padding-right: 0px;
    display: flex;
}

.button-fill-all {
    height: 3ch;
}

.edit-table th p {
    display: inline;
}

.copy-all {
    margin-right: 5px;
}


.edit-table td button {
    border: 2px solid black;
    cursor: pointer;
    padding-top:0px;
    padding-bottom:0px;
}


.show-table-dates {
    font-size: 0.9em;
    width:auto;
    position: sticky;
    left:0px;
    background-color:white;
    z-index:50;
}

.show-table-dates.focused {
    box-shadow:inset 0px 0px 0px 2px green;
}

.editor-values-table-series {
    position: sticky;
    top:0px;
    background-color:white;

}

/* diff table */

button.show-diff {
}

.diff-table {
   border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.diff-table .diff-dates {
    font-size: 0.9em;
    width:auto;
    position: sticky;
    left:0px;
    background-color:white;
    z-index:50;
}

.diff-table td {
    border: 1px solid #DDD;
    padding: 3px;
    text-align: right;
    min-width: 177px
}