<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <script src="https://cdn.plot.ly/plotly-1.50.1.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('tsview.static', filename='pygmentize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('tsview.static', filename='style.css') }}"/>
        <link href="{{ url_for('tsview.static', filename='menu_elm.css')}}" rel="stylesheet"/>
        <script src="https://unpkg.com/@webcomponents/custom-elements@1.2.1/custom-elements.min.js">
        </script>
        <script src="./tsview_static/tsinfo_elm.js"></script>
        {% set function_type = 'info' %}
        {% include "plot_figure.js.jinja" %}
    </head>
    <body>
        <div id="app"></div>
        <script>
         var app = Elm.Tsinfo.init({
             node: document.getElementById('app'),
             flags: {
                 baseurl : "{{ homeurl }}",
                 name : "{{ name }}"
             }
         });

         // port to copy something to the clipboard
         var clipboard = function (value) {
             var el = document.createElement('textarea');
             el.value = value;
             document.body.appendChild(el);
             el.select();
             document.execCommand('copy');
             document.body.removeChild(el);
         };
         app.ports.copyToClipboard.subscribe(clipboard);

         // this should probably be shared as a separate jinja template
         app.ports.saveToLocalStorage.subscribe(function (dataInCache) {
             localStorage.setItem("horizon", JSON.stringify(dataInCache))
         });

         incache = localStorage.getItem("horizon")
         if (incache === null) {
             incache = '{"horizon": null, "inferredFreq": false, "timeZone": "UTC"}'
         }
         app.ports.loadFromLocalStorage.send(incache);
        </script>
        {% include "menu.html" %}
    </body>
</html>
